{% extends 'base.html' %}
{% block content %}
<h1>Manchaland Store</h1>
<h5>PBP E</h5>

<p>Logged in as: <strong>{{ username }}</strong></p>
<p>Last login: <strong>{{ last_login }}</strong></p>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>


<p><a href="{% url 'main:create_product' %}" style="padding:8px 12px; background:#007bff; color:white; border-radius:5px; text-decoration:none;">Add Product</a></p>

<div style="display:flex; flex-wrap:wrap; gap:20px; margin-top:20px;">
    {% for product in products %}
        <div style="background:white; border:1px solid #ddd; border-radius:10px; padding:15px; width:220px;">
            <img src="{{ product.thumbnail|default_if_none:'/static/noimage.png' }}" alt="{{ product.name }}" style="width:200px; height:200px; object-fit:contain;">
            <h3>{{ product.name }}</h3>
            <p><strong>Rp {{ product.price }}</strong></p>
            <p>Stock: {{ product.stock }}</p>
            <a href="{% url 'main:product_detail' product.id %}" style="display:inline-block; padding:6px 10px; background:#28a745; color:white; border-radius:5px; text-decoration:none;">
                Detail
            </a>
        </div>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}

    <a href="?filter=all">
        <button type="button">All Articles</button>
    </a>
    <a href="?filter=my">
        <button type="button">My Articles</button>
    </a> 
</div>
{% endblock %}