{% extends 'base.html' %}
{% block content %}
<h1>Manchaland Store</h1>
<h5>PBP E</h5>

<p><a href="{% url 'main:create_product' %}"><button>Add Product</button></a></p>

{% if not products %}
  <p>No product available.</p>
{% else %}
  <ul>
  {% for product in products %}
    <li>
        <img src="{{ product.thumbnail }}" alt="{{ product.name }}" style="width:200px; height:200px; object-fit:contain;">
        <h3>{{ product.name }}</h3>
        <p><strong>Rp {{ product.price }}</strong></p>
        <p>Stock: {{ product.stock }}</p>
        <a href="{% url 'product_detail' product.id %}" class="btn">Detail</a>
        <a href="{% url 'main:show_json_by_id' product.id %}"><button>JSON</button></a>
        <a href="{% url 'main:show_xml_by_id' product.id %}"><button>XML</button></a>
    </li>
  {% endfor %}
  </ul>
{% endif %}
{% endblock %}
