{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container my-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-5">
        {% if product.thumbnail %}
          <img src="{{ product.thumbnail }}" class="img-fluid rounded-start" alt="{{ product.name }}">
        {% endif %}
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h3 class="card-title">{{ product.name }}</h3>
          <p class="text-success fw-bold">Rp {{ product.price }}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          {% if product.brand %}<p><strong>Brand:</strong> {{ product.brand }}</p>{% endif %}
          <p><strong>Stock:</strong> {{ product.stock }}</p>
          <p class="card-text">{{ product.description }}</p>

          <a href="{% url 'main:show_main' %}" class="btn btn-outline-secondary">Back</a>
          {% if product.user and product.user == user %}
            <a href="{% url 'main:product_edit' product.id %}" class="btn btn-soft-purple ms-2">Edit</a>
            {% if news.user %}
            <p>Poster: {{ news.user.username }}</p>
            {% else %}
                <p>Poster: Anonymous</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
