{% extends 'base.html' %}

{% block title %}{{ product.name }} - Manchaland Store{% endblock %}

{% block content %}
    <h2>{{ product.name }}</h2>
    <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="300">
    <p><strong>Price:</strong> Rp {{ product.price }}</p>
    <p><strong>Category:</strong> {{ product.category }}</p>
    {% if product.brand %}
        <p><strong>Brand:</strong> {{ product.brand }}</p>
    {% endif %}
    <p><strong>Stock:</strong> {{ product.stock }}</p>
    <p>{{ product.description }}</p>
    <a href="{% url 'main:show_main' %}" style="display:inline-block; padding:6px 10px; background:#007bff; color:white; border-radius:5px; text-decoration:none;">
    Back to Products </a>

    {% if news.user %}
        <p>Poster: {{ news.user.username }}</p>
    {% else %}
        <p>Poster: Anonymous</p>
    {% endif %}

{% endblock %}
